@{
    ViewData["Title"] = "Privacy Policy";
}



<section class="about">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-8 m-auto text-center">
                <h1>
                    Step Into Comfort And Style At Khalil's Outlet Your Perfect Pair
                    Awaits!
                </h1>
                <h6 style="color: blue">By Khalil's Outlet</h6>
                <br />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <img src="/AboutUs Images/Authentic.jpg" class="img-fluid mb-3" alt="Authentic Guaranteed" />
                <h5>Authenticity Guaranteed</h5>
                <p>
                    Our commitment to Authenticity ensures that you receive only the
                    highest quality products every time you shop with us.
                </p>
            </div>

            <div class="col-lg-4">
                <img src="/AboutUs Images/Sustainable Choices.jpg" class="img-fluid mb-3" alt="Sustainable Choices" />
                <h5>Sustainable Choices</h5>
                <p>
                    We believe in fashion with conscience. Our sustainable shoes are
                    designed to reduce environmental impact.
                </p>
            </div>

            <div class="col-lg-4">
                <img src="/AboutUs Images/Limited Edition 10.jpg" class="img-fluid mb-3" alt="Limited Edition" />
                <h5>Limited Edition</h5>
                <p>
                    Don't miss out on our limited edition collections, featuring
                    unique designs that you won't find anywhere else.
                </p>
            </div>
        </div>
    </div>
</section>
